<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict/>
	</array>
	<key>Holiculture_API</key>
	<string>$(Holiculture_API)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaomap</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.3</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>HolicBlue</string>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
</dict>
</plist>
